{% load i18n %}

<div id = "support">

<h3>Questionnaire Authoring with XLSForms</h3>

Data Toolbox uses <a href="http://xlsform.org">XLSForm</a> standard to allow you to author questionnaires in XLS. 
<br><br>
XLSForm is a questionnaire standard created to help simplify the authoring of questionnaires using Excel. Authoring is done in a human readable format using a familiar tool that almost everyone knows - Excel. XLSForms provide a practical standard for sharing and collaborating on authoring questionnaires also referred to as forms. They are simple to get started with but allow for the authoring of complex questionnaires by someone familiar with the syntax.
<br><br>
For a full reference please use: <a href="http://xlsform.org">XLSForm.org</a>.  
<br><br>Also, you can  download this <a href="{{ STATIC_URL }}tutorial/tutorial.xls">sample</a> questionnaire which you can modify to what you want.


</div>
